:root{
    font-family: 'Times New Roman', Times, serif;
    --color:#blue;
}
body{
    background-color: aqua;
}
h1{
    align-items: center;
}
body{
    background-color: white;
    padding: 2px;
}

h1{
    font-size: 14px;
    font-weight: bold;
}